In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kodiak,57.7900,-152.4072,24.31,58,40,10.36,US,2022-02-09 02:24:45
1,1,Castro,-24.7911,-50.0119,61.45,98,31,9.04,BR,2022-02-09 02:24:46
2,2,Saint George,37.1041,-113.5841,61.39,16,0,20.71,US,2022-02-09 02:22:44
3,3,Talcahuano,-36.7167,-73.1167,64.08,72,0,17.27,CL,2022-02-09 02:24:46
4,4,Ozark,37.0209,-93.2060,52.21,71,2,7.07,US,2022-02-09 02:24:46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [ ]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Hithadhoo,-0.6000,73.0833,82.83,68,100,14.09,MV,2022-02-09 02:24:47
10,10,Rikitea,-23.1203,-134.9692,79.09,70,84,14.12,PF,2022-02-09 02:24:48
12,12,Kavaratti,10.5669,72.6420,78.51,72,100,11.92,IN,2022-02-09 02:24:49
13,13,Cockburn Town,21.4612,-71.1419,76.96,73,40,16.11,TC,2022-02-09 02:24:49
16,16,Moroni,-11.7022,43.2551,79.41,81,100,12.26,KM,2022-02-09 02:24:50
17,17,Saint-Philippe,-21.3585,55.7679,74.79,85,89,9.69,RE,2022-02-09 02:24:50
22,22,Bengkulu,-3.8004,102.2655,78.94,79,97,7.05,ID,2022-02-09 02:23:53
25,25,Sabang,5.8933,95.3214,81.00,75,80,7.83,ID,2022-02-09 02:24:52
27,27,Busselton,-33.6500,115.3333,74.05,48,1,5.14,AU,2022-02-09 02:24:52
28,28,New Norfolk,-42.7826,147.0587,82.65,22,70,1.92,AU,2022-02-09 02:24:53

In [10]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       3
Date          0
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5        Hithadhoo      MV     82.83  -0.6000   73.0833
10         Rikitea      PF     79.09 -23.1203 -134.9692
12       Kavaratti      IN     78.51  10.5669   72.6420
13   Cockburn Town      TC     76.96  21.4612  -71.1419
16          Moroni      KM     79.41 -11.7022   43.2551
17  Saint-Philippe      RE     74.79 -21.3585   55.7679
22        Bengkulu      ID     78.94  -3.8004  102.2655
25          Sabang      ID     81.00   5.8933   95.3214
27       Busselton      AU     74.05 -33.6500  115.3333
28     New Norfolk      AU     82.65 -42.7826  147.0587

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]    
    except (IndexError):
        print("Hotel not found......skiping.")

Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig