In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kodiak,57.7900,-152.4072,24.31,58,40,10.36,US,2022-02-09 02:24:45
1,1,Castro,-24.7911,-50.0119,61.45,98,31,9.04,BR,2022-02-09 02:24:46
2,2,Saint George,37.1041,-113.5841,61.39,16,0,20.71,US,2022-02-09 02:22:44
3,3,Talcahuano,-36.7167,-73.1167,64.08,72,0,17.27,CL,2022-02-09 02:24:46
4,4,Ozark,37.0209,-93.2060,52.21,71,2,7.07,US,2022-02-09 02:24:46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kodiak,57.7900,-152.4072,24.31,58,40,10.36,US,2022-02-09 02:24:45
1,1,Castro,-24.7911,-50.0119,61.45,98,31,9.04,BR,2022-02-09 02:24:46
2,2,Saint George,37.1041,-113.5841,61.39,16,0,20.71,US,2022-02-09 02:22:44
3,3,Talcahuano,-36.7167,-73.1167,64.08,72,0,17.27,CL,2022-02-09 02:24:46
4,4,Ozark,37.0209,-93.2060,52.21,71,2,7.07,US,2022-02-09 02:24:46
6,6,Mataura,-46.1927,168.8643,64.47,66,100,4.99,NZ,2022-02-09 02:24:47
7,7,Lagoa,39.0500,-27.9833,59.23,71,98,13.13,PT,2022-02-09 02:24:47
8,8,Faya,18.3851,42.4509,50.52,81,6,3.56,SA,2022-02-09 02:24:47
9,9,Leua,48.2156,18.6071,44.92,86,100,10.51,SK,2022-02-09 02:24:48
11,11,Princeton,25.5384,-80.4089,68.02,87,0,11.50,US,2022-02-09 02:24:48

In [19]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       3
Date          0
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Kodiak      US     24.31  57.7900 -152.4072
1         Castro      BR     61.45 -24.7911  -50.0119
2   Saint George      US     61.39  37.1041 -113.5841
3     Talcahuano      CL     64.08 -36.7167  -73.1167
4          Ozark      US     52.21  37.0209  -93.2060
6        Mataura      NZ     64.47 -46.1927  168.8643
7          Lagoa      PT     59.23  39.0500  -27.9833
8           Faya      SA     50.52  18.3851   42.4509
9           Leua      SK     44.92  48.2156   18.6071
11     Princeton      US     68.02  25.5384  -80.4089

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]    
    except (IndexError):
        print("Hotel not found......skiping.")

Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.
Hotel not found......skiping.

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))